source/*.rbc
source/*.sassc
source/.sass-cache
source/capybara-*.html
source/.rspec
source/.bundle
source/vendor/bundle
source/log/*
source/tmp/*
source/db/*.sqlite3
source/public/system/*
source/coverage/
source/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html